<h1>New addition</h1>

<form action = "wizard_add">
  <label for = "add_one">Add this:</label>
  <input id = "add_one" type = "text" name = "add_one">

  <label for = "add_two">to this:</label>
  <input id = "add_two" type = "text" name = "add_two">

  <button type = "submit">Add!</button>
</form>
