<h1>New division</h1>

<form action = "wizard_divide">
  <label for = "divide_one">Divide this:</label>
  <input id = "divide_one" type = "text" name="divide_one">

  <label for = "divide_one">by this:</label>
  <input id = "divide_one" type = "text" name="divide_one">

  <button type="submit">Divide!</button>
</form>
