<h1>New multiplication</h1>

<form action = "wizard_multiply">
  <label for = "multiply_one">Multiply this:</label>
  <input id = "multiply_one" type = "text" name = "multiply_one">

  <label for = "multiply_two">by this:</label>
  <input id = "multiply_two" type = "text" name = "multiply_two">

  <button type = "submit">Multiply!</button>
</form>
