<h1>New subtraction</h1>

<form action = "wizard_subtract">
    <label for = "subtract_one">Subtract this:</label>
    <input id = "subtract_one" type = "text" name = "subtract_one">

    <label for = "subtract_two">from this:</label>
    <input id = "subtract_two" type = "text" name = "subtract_two">

    <button type = "submit">Subtract</button>
</form>
