<h1>Addition</h1>

<dl>
  <div>
  <dt>First number</dt>
  <dd><%= @first_num %>

  <dt>Second number </dt>
  <dd><%= @second_num %>

  <dt>Result </dt>
  <dd><%= @results %>
  </div>

  <div>
  <a href = "/add">Do another multiplication</a>
  </div>

</dl>
