<h1>Multiplication</h1>

<dl>
  <div>
    <dt>First number</dt>
    <dd><%= @first_num %></dd>

    <dt>Second number</dt>
    <dd><%= @second_num %>

    <dt>Result</dt>
    <dd><%= @results %>
  </div>

  <div>
    <a href = "/multiply">Do another multiplication<a>
  </div>
</dl>
